
@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Job</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Job</a></li>
                    <li class="breadcrumb-item active">Job List</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">
                <i class="fas fa-list mr-1"></i>
                Job List
            </h3>
            <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        @*<a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>*@
                        <button class="btn btn-primary btn-round" onclick="openAddEditJob(0);" id="btnAddJob"><i class="fa fa-plus"></i> Add Job</button>
                    </li>
                </ul>
            </div>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content p-0">
                <div id="principalDiv" class="mt-2"></div>
            </div>
        </div><!-- /.card-body -->
    </div>
</div>


@section modals{
    <!-- dinamic small modal -->
    <div class="modal fade" id="dinamicSmallModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="dinamicSmallModalContent">

            </div>
        </div>
    </div>
    <!-- /dinamic small modal  -->
    <!-- dinamic large modal -->
    <div class="modal fade" id="dinamicLargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="dinamicLargeModalContent">

            </div>
        </div>
    </div>
    <!-- /dinamic large modal -->
}

@section scripts{
    <script>
    $(document).ready(function () {
        OpenJobList();
    });

    function OpenJobList() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("_JobList", "Job")',
                    data: {},
                success: function (data) {
                    $('#principalDiv').html(data);
                    $('#tblJobs').DataTable();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notifyeventError("Error", errorThrown + " Status: " + XMLHttpRequest.status, "danger");
                }
            })
        }

        function openAddEditJob(JobID) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("_AddEditJob", "Job")',
                data: { id: JobID},
                success: function (response) {
                    $('#dinamicSmallModalContent').html(response);
                    $('#dinamicSmallModal').modal('show');
                    attachPicker();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notifyeventError("Error", errorThrown + " Status: " + XMLHttpRequest.status, "danger");
                }
            })
        }

        function SaveJob(JobID) {
            var isvalidate = $("#frmInsertUpdateJob")[0].checkValidity();
            if (isvalidate) {
                var postData = {
                    "JobID": JobID,
                    "JobTittle": $("#txtJobTittle").val(),
                    "JobDescription": $("#txtJobDescription").val(),
                    "JobCreatedAt": $("#txtJobCreatedAt").val(),
                    "JobExpiredAt": $("#txtJobExpiredAt").val()
                };
                try {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddEditJob", "Job")',
                        data: postData,
                        success: function (result) {
                            var data = result;
                            if (data == 1) {
                                notifyevent('success', 'Job was created', 'success');
                            } else if (data == 2) {
                                notifyevent('info', 'Job was updated', 'info');
                            } else {
                                notifyevent('Error', 'Something wrong happend', 'danger');
                            }
                            OpenJobList();
                            $('#dinamicSmallModal').modal('hide');
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            notifyeventError("Error", errorThrown + " Status: " + XMLHttpRequest.status, "danger");
                        }
                    });
                }
                catch (ex) {
                }
            }
            else {
                var $myForm = $('#frmInsertUpdateJob');
                if (!$myForm[0].checkValidity()) {
                    $myForm.find(':submit').click();
                }
            }
        }

        function DeleteJob(id) {
            Swal.fire({
                title: 'Are you sure to delete the job?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeletedJob", "Job")',
                        data: { 'id': id },
                        success: function (result) {
                            var data = result;
                            if (data == 1) {
                                notifyevent('success', 'Job was deleted', 'success');
                            } else if (data == 2) {
                                notifyevent('Error', 'No data found', 'danger');
                            } else {
                                notifyevent('Error', 'Something wrong happend', 'danger');
                            }
                            OpenJobList();
                            $('#dinamicSmallModal').modal('hide');
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            notifyeventError("Error", errorThrown + " Status: " + XMLHttpRequest.status, "danger");
                        }
                    });
                    swal.close();
                }
            })
        }

        function attachPicker() {
            $('.datepicker1').inputmask('mm/dd/yyyy', { placeholder: '__/__/____' });
            $('.datepicker1').datepicker({
                format: 'mm/dd/yyyy', autoHide: true, zIndex: '2048'
            });
        }
    </script>
}

